extends ./layout/index

block slider
    .slider
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac arcu id sapien blandit consectetur sed vel elit. Ut congue, risus eget consectetur tristique, risus ligula condimentum mauris, at tempus risus arcu eu enim. Aenean tristique porttitor mi ac accumsan. Pellentesque nisi orci, tincidunt sit amet auctor a, tristique eget ipsum.
                p estibulum quis volutpat quam. Suspendisse sollicitudin vulputate ipsum eu viverra. Nullam aliquam egestas neque sit amet cursus. Aenean a tincidunt odio. Mauris viverra semper tortor a egestas.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros" class="img-fluid")

        include ./layout/bloque_viajes

    .descuento 
        .container 
            .row 
                .col-md-6
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2,500 USD

    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales