extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Mauris efficitur consequat sapien sed lacinia. Aenean et metus eu est fringilla egestas. Proin suscipit ut massa vitae pharetra. Proin vitae hendrerit neque, scelerisque rhoncus lectus. Aenean mattis mauris nulla, eu finibus nisi vehicula sit amet. Maecenas metus sapien, congue quis varius sed, varius et diam. Quisque dictum elit a diam dictum, sit amet dignissim dui ultrices. Vestibulum eget tempus leo, vitae egestas metus. Vestibulum tempus suscipit augue, ac dapibus orci sagittis in. Aliquam consequat ligula ligula.

                p Fusce ac purus aliquet, rhoncus ante et, semper sem. Vestibulum at ultrices nunc, eu feugiat mi. Cras non vehicula nulla. Proin tempus mi ut ex gravida, id lacinia dolor malesuada. Suspendisse ullamcorper tellus ac eleifend aliquam. In ultrices leo at condimentum malesuada. Nullam scelerisque lectus non interdum mattis.

                p Suspendisse accumsan, ante ac sodales pretium, nisl urna dignissim massa, sit amet vulputate eros nisi eget elit. Praesent ut arcu nunc. Suspendisse interdum elit vitae nunc ultricies pretium. Sed porta urna cursus nulla accumsan, non feugiat ipsum sagittis. Vestibulum eu fringilla enim, non imperdiet dui. In dignissim congue sodales. Quisque pharetra eget tellus sed congue. Etiam sollicitudin lobortis erat, in blandit dolor congue dignissim. Vivamus condimentum varius magna sed molestie.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Suspendisse accumsan, ante ac sodales pretium, nisl urna dignissim massa, sit amet vulputate eros nisi eget elit. Praesent ut arcu nunc.
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Suspendisse accumsan, ante ac sodales pretium, nisl urna dignissim massa, sit amet vulputate eros nisi eget elit. Praesent ut arcu nunc.
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Suspendisse accumsan, ante ac sodales pretium, nisl urna dignissim massa, sit amet vulputate eros nisi eget elit. Praesent ut arcu nunc.

