footer.container.py-3.footer.mt-5
    .row
        nav.nav.footer.justify-content-center.col
            a.nav-link(href="/nosotros") Nosotros
            a.nav-link(href="/viajes") Viajes
            a.nav-link(href="/testimoniales") Testimoniales
    .row
        p.copyright.text-center.col
            | Todos los derechos reservados Jeison Garcia 
            span=actualYear